.collumn{
  width: 300px;
  float:left;
  padding: 10px;
  border: 4px solid pink;
  margin: 10px;
  background-color: #fbf7fc;
  height: 420px;
}

.collumn img{
  width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

h1{
  text-align: center;
  font-family: "verdana";
  font-stretch: expanded;
  font-size: 58px;


}

  body{
  background: linear-gradient(to bottom right, #c2d2ed, #edc2e5);
}
html, body {
    margin: 0;
    height: 100%;
}

.hotline{
  float:left;
  font-family: "verdana";
  margin-top: 40px;
  font-size: 20px;
  color: black;
  margin-left: 40px;
}

h2{
  text-align: center;

  font-size: 22px;
}

@media screen and (max-width: 786px) 
